.grid-content {
  display: grid;
  gap: 2%;
  margin: 60px 30px;
  grid-template-columns: 2fr 1fr;
}
.grid-items {
  flex-basis: 60%;
}
.grid-items2 {
  flex-basis: 30%;
}
.grid-items .first-flex {
  display: flex;

  justify-content: space-between !important;
}

.grid-items .first-flex a {
  color: black;
  text-decoration: none;
}
.grid-contain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* place-items: center  space-between; */
  background: #fff6d8;
  color: #dd8500;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
}
.grid-kid .grid-contain:nth-child(3) {
  margin-top: 15px;
}
.button-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.button-wrap div {
  text-align: center;
  margin: 10px;
  padding: 7px;
  width: 90%;
  cursor: pointer;
  color: white;
  background: #dd8500;
  border: none;
  border-radius: 5px;
}
.link {
  position: absolute;
  bottom: 2%;
  right: 8%;
  text-decoration: none;
  color: #dd8500;
}
.kid-sec .button-wrap div {
  background: rgba(99, 43, 100, 1);
}
.kid-sec h3 {
  color: rgba(99, 43, 100, 1);
}
.kid-sec .link {
  color: rgba(99, 43, 100, 1);
}
.kid-third .button-wrap div {
  background: rgba(240, 88, 88, 1);
}
.kid-third h3 {
  color: rgba(240, 88, 88, 1);
}
.kid-third .link {
  color: rgba(240, 88, 88, 1);
}

/* second grid item */
/* second grid item  ends here*/
.betslip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.betslip form {
  width: 90%;

  text-align: center;
  padding: 15px 10px;
  padding: 10px;

  background: linear-gradient(180deg, #fae7fa 21.19%, #f8e0bc 86.92%);
  /* opacity: 15%; */
}
.betslip form input {
  width: 100%;
  padding: 8px;
  margin-top: 20px;
  border-radius: 8px;
  border: none;
}
.betslip form button {
  width: 100%;
  background: black;
  padding: 10px;
  background: #444444;
  border-radius: 8px;
  margin: 10px 0;
  color: white;
  border: none;
}
.bet-login {
  bottom: 0;
  background-color: #444444;
  display: flex;
  width: 90%;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-transform: uppercase;
}
.bet-login a {
  color: white;
  margin: 2px;
}
.bet-login svg {
  width: 30px;
  color: white;
  cursor: pointer;
}
.bet-login .log {
  display: flex;
  align-items: center;
  justify-content: center;
}
.betslip form button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.grid-updates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 10px;
}
.update-title {
  display: flex;
  justify-content: space-between;
  align-items: space-between !important;
}
.update-title a {
  color: black;
  text-decoration: none;
}
.update-news figure {
  display: flex;
  justify-content: space-between;

  padding: 20px;
  background: linear-gradient(180deg, #fae7fa 21.19%, #f8e0bc 86.92%);
}
.update-news figure:first-child {
  margin-top: 10px;
}
/* .update-news .text{
    position: relative;
    
} */
.update-news img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}
.update-news .text h3,
.update-news .text p {
  font-size: 12px;
}
.update-news .ancho {
  position: relative;
  text-align: right;
  font-weight: bold;
}
.update-news a {
  color: black;
  text-decoration: none;
}
/* swiper */
.swiper .swiper-slide {
  display: flex;
  justify-content: space-between;

  padding: 20px;
  background: linear-gradient(180deg, #fae7fa 21.19%, #f8e0bc 86.92%);
  width: 500px;
}
.swiper .swiper-slide img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}
.swiper .swiper-slide a {
  color: black;
  text-decoration: none;
}
.swiper .swiper-slide .text h3,
.swiper .swiper-slide .text p {
  font-size: 12px;
}

/* swiper */
.certification {
  
  height: 400px;
  width: auto;
  background: linear-gradient(180deg, #fae7fa 21.19%, #f8e0bc 86.92%);
  margin: 19px;
  padding: 10px;
  border-radius: 10px;
}
.certification h3{
  color: #985C03;

}
.cert{
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 30px;
  border-radius: 10px;
}
.certification img{
  display: block;
  width: 40px;
  height: 40px;
  margin: 10px;
}

.bet-click {
  display: none;
  position: fixed;
  right: 0;

  border-radius: 5px;
  bottom: 5%;
  width: auto;
  padding: 10px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: grey;
  z-index: 32;
}
.bet-click .bet-circle {
  color: white;
  border-radius: 50%;
  height: 50%;
  width: 50%;
  text-align: center;
  background-color: red;
}
@media (max-width: 900px) {
  .bet-click {
    display: flex;
    cursor: pointer;
  }
  .betslip {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 32;
    transition: all 1.5s ease;
  }
  .betslip form,
  .bet-login {
    width: 100%;
  }
  .grid-contain h3 {
    font-size: 2vh;
  }
  .grid-content {
    grid-template-columns: 1fr;
    
  }
}
@media (max-width: 480px) {
  .button-wrap div {
    font-size: 10px;
  }
  .float-button {
    left: 0;
  }
  .grid-content {
    grid-template-columns: 1fr;
    margin: 60px 1px;
    padding: 5px;
  }
  .grid-items .first-flex {
    margin: 0 20px;
  }
  .cert{
    padding: 0;
  }
}
