.wrapper-side {
  margin-top: 80px;
  display: grid;
  position: relative;
}
.wrapper-side .sidenav {
  width: 250px;
  height: 100%;
  border: 1px solid grey;
  position: fixed;

  left: 0;
}
.news-login {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2%;
}
.dash-content {
  margin-left: 250px;
  padding: 20px;
}
.first-flex2 {
  position: relative;
  display: flex;
  align-items: center;
  height: 350px;
  padding: 40px;
}
.first-flex2 img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.first-flex2 h2 {
  z-index: 2;
  color: white;
  width: 150px;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
}
.grid-kid-btn {
  display: flex;
  justify-content: space-between;
}
.btn-kid,
.btn-kid2,
.btn-kid3 {
  width: 50%;
  margin: 15px 5px;
  display: block;
  color: #dd8500;
  text-transform: capitalize;
  padding: 20px;
  background: linear-gradient(180deg, #fae7fa 21.19%, #f8e0bc 86.92%);
  border-radius: 10px;
  border: none;
  font-weight: bold;
}
.btn-kid:hover,
.btn-kid2:hover,
.btn-kid3:hover {
  background: #dd8500;
  color: black;
  cursor: pointer;
}
.sidenav .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidenav .profile h3 {
  font-weight: 600;
  font-size: 25px;
}
.sidenav ul {
  margin: 5px;
}

.sidenav ul li {
  list-style-type: none;
  padding: 17px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 10px;
}
.fa-chevron-right:before {
  content: "\f054";
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sidenav ul li .fa {
  font-size: 16px;
}
.sidenav ul li:hover {
  color: #dd8500;
  background: rgba(221, 133, 0, 0.27);
  cursor: pointer;
  transform: scale(1.01);
  transform-origin: left;
  transition: 1s ease;
}
.sidenav ul a {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
}
.menu {
  padding: 5px;
  display: none;
  transition: all 1.5s linear;
}
.block {
  display: block;
}
.drop:hover {
  color: #dd8500;
  background: rgba(221, 133, 0, 0.27);
}
aside a {
  display: block;
  margin: 5px;
  color: #dd8500;
  background: rgba(221, 133, 0, 0.27);
  margin: 5px;
  padding: 8px;
  border-radius: 10px;
}
aside a:hover {
  transform: scaleX(1.1);
  background: rgba(221, 133, 0, 0.27);

  transition: all 1.1s ease-out;
}
.cert-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}
.cert-info h5 {
  padding: 5px;
  background: #794f0f;
  color: white;
}
.cert-info p {
  color: #dd8500;
  text-transform: capitalize;
}
.price-alert {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.alert-pic {
  width: 100px;
  height: 25px;
  background: #dd850033;

  text-align: center;
  position: relative;
}
.alert-first {
  position: absolute;
  left: 0;
  width: 30px;
  background: #dd850091;
  color: white;
  height: 100%;
  border: none;
  cursor: pointer;
  top: 0;
}
.alert-sec {
  top: 0;
  position: absolute;
  right: 0;
  width: 30px;
  background: #dd850091;
  color: white;
  height: 100%;
  border: none;
  cursor: pointer;
}
.copybet {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.copybet button {
  background: #dd8500;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.copybet button:hover{
  opacity: .8;
}
@media (max-width: 768px) {
  .wrapper-side .sidenav {
    display: none;
  }
  .dash-content {
    margin: 10px;
    padding: 0;
  }

  .first-flex2 h2 {
    width: 100%;
  }
}
